<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div ng-controller="login">
    <button ng-click="myPageName='Login'">Login</button>
    <button ng-click="myPageName='Register'">Register</button>
    <button ng-click="myPageName='Profile'">Profile</button>
    <button ng-click="myPageName='Dashboard'">Dashboard</button>

    <div ng-if="myPageName=='Login'">
        <h1>Hi {{myTitle}} Im in Login</h1>

        <ul>
            <li ng-repeat="i in dataFromPostReq">{{i}}</li>
        </ul>
    </div>
    <div ng-if="myPageName=='Register'">
        <h1>Hi {{myTitle}} Im in Register</h1>
    </div>
    <div ng-if="myPageName=='Profile'">
        <h1>Hi {{myTitle}} Im in Profile</h1>
        <div ng-repeat="i in myList">
            {{i}}
        </div>
    </div>
    <div ng-if="myPageName=='Dashboard'">
        <h1>Hi {{myTitle}} Im in dashboard</h1>
    </div>
</div>

<script type="application/javascript" src="assets/js/angular.min.js"></script>
<script type="application/javascript" src="assets/js/app.modules.js"></script>
<script type="application/javascript" src="assets/js/login.js"></script>

<script>
    angular.bootstrap(document.body, ['ui.trainning']);
</script>
